html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
* { tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -ms-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
body { font-family: Helvetica, sans-serif; }
input, textarea { outline: 0; resize: none; }
html,body { font-size: 20px; height: 100%; }

.wrap { position: relative; width: 640px; height: 100%; margin: 0 auto; }
.loading { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(./images/loading_bg.jpg) no-repeat; z-index: 99999; }
.game_loading { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.8); z-index: 99999; }
.loading_data { position: absolute; top: 50%; left: 50%; width: 385px; height: 318px; margin: -335px 0 0 -186px; padding-top: 280px; text-align: center; font-size: 24px; color: #fcef66; background: url(./images/loading.gif) no-repeat top center; }
.loading_data .loading_text { position: absolute; top: 235px; left: 115px; width: 156px; height: 29px; background: url(./images/loading_text.png) no-repeat; }
.game_loading .loading_data { position: absolute; top: 50%; left: 50%; width: 385px; height: 339px; margin: -332px 0 0 -186px; padding-top: 308px; text-align: center; font-size: 24px; color: #fcef66; background: url(./images/game_loading.png) no-repeat top center; }

/*section.index { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(./images/bg.jpg) no-repeat; }*/
section.index { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(./img/bg.png) no-repeat; }
section.index .music,section.index .music .add{ display: block; position: absolute; top: 0; right: 0; width: 99px; height: 93px; background: url(./images/play.png) no-repeat; }
section.index .add{ display: none; position: absolute; top: 0; right: 0; width: 99px; height: 93px; background: url(./images/pause.png) no-repeat; }
section.index .item { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
section.index .head_box { display: none; position: absolute; top: 654px; left: 240px; width: 131px; height: 131px; }
section.index .head_box img { width: 100%; height: 100%; transform: scale(0.95); -webkit-transform: scale(0.95); }
section.index .sy_btn {/* display: none;*/ position: absolute; }
section.index .btn_01 { top: 837px; left: 140px; width: 337px; height: 89px; }
section.index .btn_02 { top: 935px; left: 0; width: 190px; height: 77px; }
section.index .btn_03 { top: 935px; right: 0; width: 222px; height: 77px; }
section.index .hunt_box { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); }

section.index .hunt_box .brf { position: absolute; top: 127px; left: 86px; width: 468px; height: 754px; }

/*section.index .hunt_box .before{ position: absolute; top: 127px; left: 86px; width: 468px; height: 754px; }*/
section.index .hunt_box .before{ position: absolute; top: 0; left: 0; width: 640px; height: 1140px; }
/*section.index .hunt_box .before { background: url(./images/pic_before_sm.png) no-repeat; }*/
section.index .hunt_box .before { background: url(./img/start_tip.png) no-repeat; }
section.index .hunt_box .brf { background: url(./images/pic_before_sm01.png) no-repeat; }
/*section.index .hunt_box .before .gif { position: absolute; top: 244px; left: 136px; width: 199px; height: 148px; background: url(./images/pic_yd.gif) no-repeat; }*/
section.index .hunt_box .before .gif { position: absolute; top: 442px; left: 222px; width: 199px; height: 148px; background: url(./images/pic_yd.gif) no-repeat; }
section.index .brf .btn_04 { position: absolute; top: 657px; left: 109px; width: 250px; height: 89px; }
/*section.index .before .btn_04{ position: absolute; top: 657px; left: 109px; width: 250px; height: 89px; }*/
section.index .before .btn_04{ position: absolute; top: 647px; left: 180px; width: 270px; height: 89px; }
section.prize { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(./images/pic_prize_bg.jpg) no-repeat; }
section.prize .prize_01,section.prize .prize_02,section.prize .prize_03,
section.prize .prize_04 { position: absolute; top: 90px; }
section.prize .prize_01 { left: 118px; width: 400px; height: 581px; background: url(./images/pic_prize_01.png) no-repeat; z-index: 9; }
section.prize .prize_02 { left: 43px; width: 552px; height: 576px; background: url(./images/pic_prize_02.png) no-repeat; }
section.prize .prize_03 { left: 34px; width: 578px; height: 576px; background: url(./images/pic_prize_03.png) no-repeat; }
section.prize .prize_04 { left: 29px; width: 584px; height: 595px; background: url(./images/pic_prize_04.png) no-repeat; }
section.prize .prize_01 img { position: absolute; top: 174px; left: 63px; width: 240px; height: 240px; transform: scale(1.5); -webkit-transform: scale(1.5); z-index: 88; }
section.prize .prize_02 .btn_lq,
section.prize .prize_03 .btn_lq { position: absolute; top: 500px; left: 182px; width: 190px; height: 85px; }
section.prize .prize_03 .btn_lq { left: 195px; }
section.prize .prize_04 .redeem { position: absolute; top: 502px; left: 108px; width: 367px; height: 59px; }
section.prize .prize_04 .redeem p { padding: 15px; width: 367px; height: 59px; text-align: center; border-radius: 5px; color: #fff; font-size: 27px; font-weight: bold; background: url(./images/pic_bgg.jpg); margin: 0 auto; }
section.prize .two { position: absolute; top: 90px; left: 6px; width: 628px; height: 796px; }
section.prize .two .name,
section.prize .two .email { position: absolute; top: 567px; left: 267px; color: #fff; font-size: 24px; width: 204px; height: 56px; background: none; border: none; }
section.prize .two .email { top: 635px; }
section.prize .two .btn_tj { position: absolute; top: 708px; left: 140px; width: 350px; height: 89px; }
section.prize .two .prize_05,
section.prize .two .prize_06,
section.prize .two .prize_07 { position: absolute; top: 0; left: 0; width: 628px; height: 796px; }
section.prize .two .prize_05 { background: url(./images/pic_prize_05.png) no-repeat; }
section.prize .two .prize_06 { background: url(./images/pic_prize_06.png) no-repeat; }
section.prize .two .prize_07 { background: url(./images/pic_prize_07.png) no-repeat; }
section.prize .suc { position: absolute; top: 78px; left: 34px; width: 565px; height: 768px; background: url(./images/pic_tjsuc.png) no-repeat; }
section.prize .suc .suc_share { position: absolute; top: 582px; left: 108px; width: 350px; height: 89px; }
section.prize .suc .suc_again { position: absolute; top: 684px; left: 108px; width: 350px; height: 89px; }
section.prize .btn_share { position: absolute; top: 708px; left: 143px; width: 350px; height: 89px; background: url(./images/btn_share.png) center center no-repeat; }
section.prize .btn_again { position: absolute; top: 808px; left: 143px; width: 350px; height: 89px; background: url(./images/btn_again.png) center center no-repeat; }
.share_box { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 9; }
.share_box .pic_share { position: absolute; top: 35px; right: 17px; width: 444px; height: 450px; background: url(./images/pic_share.png) no-repeat; }

section.list { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(./images/pic_prize_list.jpg) center top no-repeat; }
section.list .btn_back { position: absolute; top: 0; left: 0; width: 125px; height: 59px; }
section.list ul { position: absolute; top: 260px; right: 51px; width: 175px; height: 760px; }
section.list ul li { width: 175px; height: 125px; }
section.list ul li a { display: block; width: 175px; height: 125px; }
section.list ul li a.btn_detail { background: url(./images/btn_detail.png) center center no-repeat; }
section.list ul li a.btn_win { background: url(./images/btn_win.png) center center no-repeat; }
section.list ul li a.btn_nowin { background: url(./images/btn_nowin.png) center center no-repeat; }
section.list .award_situation { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); }
section.list .award_situation .ico_close { position: absolute; top: 37px; right: 42px; width: 100px; height: 100px; background: url(./images/ico_close.png) center center no-repeat; }
section.list .award_situation .txt_box { position: absolute; top: 263px; left: 0; text-align: center; width: 640px; height: auto; }
section.list .award_situation .txt_box h2 { color: #fab804; font-size: 35px; font-weight: bold; }
section.list .award_situation .txt_box h3 { margin-top: 26px; color: #fff; font-size: 30px; }
section.list .award_situation .txt_box h4 { margin-top: 33px; color: #fff; font-size: 35px; font-weight: bold; }
section.list .award_situation .txt_box p { margin-top: 23px; color: #fff; font-size: 26px; }
section.list .award_situation .txt_box div { margin-top: 58px; color: #fff; font-size: 28px; }

section.rule_box,section.my_reward_box { -webkit-transition: -webkit-transform 0.5s; -webkit-transform: translateY(-155%); -webkit-transform-origin: center top; width: 100%; height: 100%; background: url(./images/pic_rule_bg.jpg) center top no-repeat; }
section.rule_box.on,section.my_reward_box.on { -webkit-transform: translateY(0);}
section.rule_box,section.my_reward_box { display: block; position: absolute; top: 0; left: 0; }
section.rule_box .btn_back { position: absolute; top: 0; left: 0; width: 125px; height: 59px; }
section.my_reward_box .btn_back { position: absolute; top: 0; left: 0; width: 125px; height: 59px; }
section.rule_box .rule_text { position: absolute; top: 310px; left: 56px; /*width: 525px; height: 670px;*/ }
section.my_reward_box .rule_text { position: absolute; top: 300px; left: 56px; /*width: 525px; height: 670px;*/ }
section.rule_box .rule_text p { margin-bottom: 15px; color: #fff; font-size: 22px; }
/*section.rule_box .rule_text #scrollbar1 { !*position: absolute; top:0; left:0; width: 525px; height: 670px;*! }*/
/*section.rule_box .rule_text #scrollbar1 .viewport { position: relative; top:0; left:0; width: 540px; height: 670px; overflow: hidden; line-height: 35px; }*/
/*section.rule_box .rule_text #scrollbar1 .viewport .overview div { color: #fff; font-size: 24px; font-weight: bold; }*/
/*section.rule_box .rule_text #scrollbar1 .viewport .overview p { color: #fff; font-size: 22px; }*/
/*section.rule_box .rule_text #scrollbar1 .overview { width: 530px; list-style: none; position: absolute; left: 0; top: 0; }*/
/*section.rule_box .rule_text #scrollbar1 .thumb .end,*/
/*section.rule_box .rule_text #scrollbar1 .thumb {  }*/
/*section.rule_box .rule_text #scrollbar1 .scrollbar { position: relative; right: 20px; top:165px; float: right; width: 13px; }*/
/*section.rule_box .rule_text #scrollbar1 .track { height: 100%; width:13px; position: relative; }*/
/*section.rule_box .rule_text #scrollbar1 .thumb { height: 66px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }*/
/*section.rule_box .rule_text #scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }*/
/*section.rule_box .rule_text #scrollbar1 .disable{ display: none; }*/
#scrollbar1,#scrollbar2 { /*position: absolute; top:0; left:0; width: 525px; height: 670px;*/ }
#scrollbar1 .viewport,#scrollbar2  .viewport { position: relative; top:0; left:0; width: 540px; height: 670px; overflow: hidden; line-height: 35px; }
#scrollbar1 .viewport .overview div { color: #fff; font-size: 24px; font-weight: bold; }
#scrollbar1 .viewport .overview p { color: #fff; font-size: 22px; }
#scrollbar1 .overview,#scrollbar2  .overview { width: 530px; list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,#scrollbar2  .thumb .end,
#scrollbar1 .thumb,#scrollbar2  .thumb {  }
#scrollbar1 .scrollbar,#scrollbar2  .scrollbar { position: relative; right: 20px; top:165px; float: right; width: 13px; }
#scrollbar1 .track,#scrollbar2  .track { height: 100%; width:13px; position: relative; }
#scrollbar1 .thumb,#scrollbar2  .thumb { height: 66px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end,#scrollbar2  .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable,#scrollbar2  .disable{ display: none; }

.pack_box{ display : -webkit-box;-webkit-box-align: center;-webkit-box-pack:justify;}
.bflex{-webkit-box-flex:1}
.pack_box>img.img_tyj {width:110px;display: block;}
.reward_title{color:#fff;font-size: 32px;text-align: center;}
.tyj,.total{font-size: 30px;color:#fff;}
.total{color:#fbb100}
.share_list{color : #8bb5ff;padding:0 30px;font-size: 28px;margin-top :20px;}
.share_list>li+li{margin-bottom:10px;}
.share_list>li>*:first-child{width:3em;}
.share_list>li>*:last-child{width:4em;text-align: right;}

.center{text-align: center;}
.avatar{width:80px;height:80px;border-radius: 50%;margin:0 auto;overflow : hidden;}
.avatar>img{display: block;width:100%;height:auto;border-radius: 50%;}
section.bless { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(./images/pic_zhufu_bg.jpg) no-repeat; }
section.bless .zf_name { position: absolute; top: 515px; left: 240px; text-align: center; color: #000; font-size: 24px; width: 192px; height: 49px; background: none; border: none; }
section.bless .zhufu_box { position: absolute; top: 568px; left: 190px; width: 240px; height: 240px; }
section.bless .btn_zhufu { position: absolute; top: 822px; left: 102px; width: 210px; height: 70px; }
section.bless .btn_buy { position: absolute; top: 822px; left: 328px; width: 210px; height: 70px; }
section.bless .gz_text { position: absolute; top: 952px; left: 71px; width: 491px; height: 65px; background: url(./images/pic_gz_text.png) no-repeat; }

section.friend { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(./images/pic_friend_bg.jpg) no-repeat; }
section.friend .text_01 { position: absolute; top: 428px; left: 0; width: 640px; height: auto; color: #043382; font-weight: bold; font-size: 30px; text-align: center; }
section.friend .text { position: absolute; top: 515px; left: 0; width: 640px; height: auto; color: #b91c26; font-size: 30px; text-align: center; }
section.friend .zhufu_box { position: absolute; top: 584px; left: 188px; width: 240px; height: 240px; transform: scale(1.2); -webkit-transform: scale(1.2); }
section.friend .btn_metoo { position: absolute; top: 872px; left: 119px; width: 396px; height: 90px; }

/* game */
.count { position: absolute; top: 32px; left: 25px; font-size: 40px; font-weight: bold; color: #fff; width: 105px; height: 100px; }
/*.sm_bg { padding-top: 102px; position: absolute; bottom: 0; right: 0; width: 172px; height: 170px; font-size: 50px; font-weight: bold; color: #fcef66; text-align: center; background: url(./images/pic_sm_bg.png) no-repeat; }*/
.sm_bg { padding-top: 102px; position: absolute; bottom: 0; right: 0; width:263px; height: 292px; font-size: 50px;line-height:100px; font-weight: bold; color: #fcef66; text-align: center; background: url(./img/pocket.png) no-repeat; }
.over { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); }
.over .pic{ position: absolute; top: 33%; left: 170px; width: 298px; height: 81px; background: url(./images/pic_game_over.png) no-repeat; }
.num_box,.reward_box,.share_friend,.old,.new,.win_tip { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 9999; }
/*.num_box .last { position: absolute; top: 127px; left: 175px; width: 286px; height: 624px; background: url(./images/pic_last_sm.png) no-repeat; }*/
.num_box .last { position: absolute; top: 0; left: 0; width: 640px; height: 1140px; background: url(./img/try.png) no-repeat; }
.old .last{ position: absolute; top: 0; left: 0; width: 640px; height: 1140px; background: url(./img/old.png) no-repeat; }
.new .last{ position: absolute; top: 0; left: 0; width: 640px; height: 1140px; background: url(./img/new.png) no-repeat; }
.reward_box .last { position: absolute; top: 0; left: 0; width: 640px; height: 1140px; background: url(./img/congratulation.png) no-repeat; }
.share_friend .last{ position: absolute; top: 0; left: 0; width: 640px; height: 1140px; background: url(./img/share.png) no-repeat; }
.win_tip .last{ position: absolute; top: 0; left: 0; width: 640px; height: 1140px; background: url(./img/win.png) no-repeat; }
/*.last .num { position: absolute; top: 62px; left: 129px; text-align: center; font-size: 40px; font-weight: bold; color: #fff; width: 52px; height: 42px; }*/
.last .num { position: absolute; top: 200px; left: 300px; text-align: center; font-size: 40px; font-weight: bold; color: #fff; width: 52px; height: 42px; }
.num_box .last .btn_lot { position: absolute; top: 490px; left: 192px; width: 250px; height: 89px; }
.num_box .last .btn_friend { position: absolute; top: 610px; left: 192px; width: 250px; height: 89px; }

.reward_box .last .btn_take_now { position: absolute; top: 620px; left: 192px; width: 250px; height: 89px; }
.reward_box .last .btn_friend { position: absolute; top: 720px; left: 192px; width: 250px; height: 89px; }
.reward_box .last .btn_again { position: absolute; top: 820px; left: 192px; width: 250px; height: 89px; }


.share_friend .last .btn_share { position: absolute; top: 380px; left: 192px; width: 250px; height: 89px; }
.old .last #account_old{ position: absolute; top: 540px; left: 70px; width: 500px; height: 89px;background-color: transparent;outline:none;border:none;-webkit-appearance: none;font-size: 32px;}
.old .last #password{ position: absolute; top: 650px; left: 70px; width: 500px; height: 89px;background-color: transparent;outline:none;border:none;-webkit-appearance: none;font-size: 32px;}
.old .last .btn_login{ position: absolute; top: 770px; left: 20px; width: 600px; height: 89px; }
.old .last .btn_download_ios{ position: absolute; top: 940px; left: 40px; width: 270px; height: 89px; }
.old .last .btn_download_android{ position: absolute; top:940px; right: 40px; width: 270px; height: 89px; }


.new .last #account_new{ position: absolute; top: 470px; left: 70px; width: 500px; height: 89px;background-color: transparent;outline:none;border:none;-webkit-appearance: none;font-size: 32px;}
.new .last #validate_code{ position: absolute; top:585px; left: 70px; width: 220px; height: 89px;background-color: transparent;outline:none;border:none;-webkit-appearance: none;font-size: 32px;}
.new .last .btn_validate{ position: absolute; top:585px; right: 70px; width: 220px; height: 89px;background-color: transparent;outline:none;border:none;-webkit-appearance: none;font-size: 32px;line-height:89px;text-align: center;}
.new .last .btn_login{ position: absolute; top: 700px; left: 20px; width: 600px; height: 89px; }
.new .last .btn_download_ios{ position: absolute; top: 870px; left: 40px; width: 270px; height: 89px; }
.new .last .btn_download_android{ position: absolute; top: 870px; right: 40px; width: 270px; height: 89px; }



.win_tip .last .btn_share { position: absolute; top: 500px; left: 192px; width: 250px; height: 89px; }
.win_tip .last .btn_download_ios{ position: absolute; top: 710px; left: 40px; width: 270px; height: 89px; }
.win_tip .last .btn_download_android{ position: absolute; top:710px; right: 40px; width: 270px; height: 89px; }